{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    <h1>Спецпроекты</h1>
    <div class="table-responsive">
        <table class="records_list table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Тип</th>
                    <th>Заголовок</th>
                    <th>Путь до изображения</th>
                    <th>Содержание</th>
                    <th>Ссылка</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
            {% for specialProject in specialProjects %}
                <tr>
                    <td><a href="{{ path('admin_specialproject_show', { 'id': specialProject.id }) }}">{{ specialProject.id }}</a></td>
                    <td>{{ specialProject.type }}</td>
                    <td>{{ specialProject.title }}</td>
                    <td>{{ specialProject.imgUrl }}</td>
                    <td>{{ specialProject.content }}</td>
                    <td>{{ specialProject.link }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_specialproject_show', { 'id': specialProject.id }) }}">Показать</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_specialproject_edit', { 'id': specialProject.id }) }}">Редактировать</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <ul>
        <li>
            <a class="btn btn-outline-primary btn-fw" href="{{ path('admin_specialproject_new') }}">Создать спецпроект</a>
        </li>
    </ul>
{% endblock %}
