{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    <h4>Журнал</h4>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ magazine.id }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ magazine.name }}</td>
            </tr>
            <tr>
                <th>Номер</th>
                <td>{{ magazine.number }}</td>
            </tr>
            <tr>
                <th>Содержание</th>
                <td>{{ magazine.content }}</td>
            </tr>
            <tr>
                <th>Путь до файла</th>
                <td>{{ magazine.pdfLink }}</td>
            </tr>
            <tr>
                <th>Ссылка</th>
                <td>{{ magazine.link }}</td>
            </tr>
            <tr>
                <th>Путь до изображения</th>
                <td>{{ magazine.imgUrl }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_magazine_index') }}">Назад к списку</a>
        </li>
        <li>
            <a href="{{ path('admin_magazine_edit', { 'id': magazine.id }) }}">Редактировать</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Удалить">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
